.input, .firstInput, .secondInput{
    display: flex;
    text-align:center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.top-input {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}
textarea {
    border-top: 2px solid green;
    width: 300px;
    height: 300px;
    resize: none;
}
#firstSeperation, #secondSeperation {
    width: 20px;
}
details {
    width: 240px;
}
#firstInputTitle, #secondInputTitle {
    text-align: center;
}
pre {
    width: fit-content;
}
@media screen and (max-width: 600px) {
    .top-input {
        flex-direction: column;
    }
    body::before {
        height: 100px;
    }
    pre {
        width: 22rem;
    }
}
